<h1>Restaurants</h1>
<p>select a restaurant</p>
<ul>  
    <% @restaurants.each do |restaurant| %>
      <li> <%= link_to restaurant.name, restaurant_path(restaurant)%></li>
    <% end %>
</ul>

<p> <%= link_to "Create a new restaurant", new_restaurant_path %> </p>